%h1 Listing comments

%table
  %tr
    %th User
    %th Event
    %th Text
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.user_id
      %td= comment.event_id
      %td= comment.text
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_comment_path
