%p#notice= notice

%p
  %b User:
  = @comment.user_id
%p
  %b Event:
  = @comment.event_id
%p
  %b Text:
  = @comment.text

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
