%table
  - @events.each do |event|
    %tr
      %td *
      %td= month_day(event)
      - unless controller_name == 'groups'
        %td= link_to event.group.name, event.group
      %td= link_to event.title, event
      - if @user.nil?
      - else
        - atnd = @user.atnd(event)
        - if atnd
          %td.atnd=_ atnd.state.capitalize
        - else
          %td=_'Unknown'

        - if event.ended?
          %td ended(終了)
        - elsif atnd
          %td.update= link_to _('cancel'), event_path(event, 'delete')
        - elsif event.group.member?(@user)
          %td.update.atnd
            = link_to _('attend'), event_path(event, 'attend')
            = link_to _('absent'), event_path(event, 'absent')
            = link_to _('maybe'),  event_path(event, 'maybe')
