= form_for group do |f|
  -if group.errors.any?
    #error_explanation
      %h2= "#{pluralize(group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - group.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p= f.label :name, _(:Name)
    = f.text_field :name
  .field
    %p= f.label :summary, _(:Summary)
    = f.text_field :summary, :size => '60'
  .field
    %p= f.label :permission, _(:Permission)
    = f.select(:permission, [[_('Public'), 0], [_('Must be allowed'), 1], [_('Secret'), 2]])
  .field
    %p= f.label :description, _(:Description)
    = f.text_area :description, :size => '60x8'
  .field
    %p= f.label :image_url, _(:Image)
    = f.text_field :image_url, :size => 60
  .actions
    = f.submit 'Save'
