%h1 Groups

%table
  %tr
    %th Name
    %th Description
    %th Owner
    %th
    %th
    %th

  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.description
      %td= group.owner ? group.owner.name : 'none'
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Group', new_group_path
