%h1= @group.name
%p#notice= notice

- is_secret = @group.secret? && !@group.member?(@user)

%p.summary
  = @group.summary
  - if !is_secret and @group.description? and !@show_description
    &#187;
    = link_to 'もっと詳しく', group_path + '/description'
.description
  - if !is_secret and @show_description
    %p
      &#171;
      = link_to '説明を閉じる', group_path
    != simple_html_compiler(@group.description)

.status
  %p.gray
    == #{_ :permission}:
    %b= [_(:Public), _('Must be allowed'), _(:Secret), 2][@group.permission]
    \/
    == #{_ :owner}:
    %b= @group.owner.name

- is_member = @group.member?(@user)
- unless is_member
  - if @group.public?
    %p.update= link_to _('join this group'), "#{@group.id}/join"
  - elsif @group.requesting_user?(@user)
    %p.update= link_to _('delete request to join'), "#{@group.id}/delete_request"
  - else
    %p.update= link_to _('request to join this group'), "#{@group.id}/request_to_join"

- unless is_secret
  .events
    %h2=_ :Events
    = render 'events'
  
  .events_new
    - if is_member
      %p= link_to _('new event'), "/events/new"
  
  .posts
    %h2=_ :Posts
    %table
      - @group.posts.order('created_at desc').limit(3).each do |post|
        %tr
          %td *
          %td= link_to month_day(post.created_at), "/groups/#{@group.id}/posts##{post.idx}"
          %td
            - if post.subject
              %b= to_short post.subject, 20
              \:
            = to_short post.text, 40
            %span.small
              == posted by #{post.user.name}
    %p= link_to _(@group.posts.count == 0 ? 'new post' : 'read more'), "/groups/#{@group.id}/posts"
  
  .users
    %h2=_ :Users
    %table
      %tr
        %th
        %th
        %th
        - @events.each do |event|
          %td
            - link = link_to month_day(event.started_at), event
            - if event.ended?
              = link
            - else
              %b= link
      - @group.users.each do |user|
        %tr
          %td *
          %td= link_to user.name, user
          %td
            =_('new user')
          - @events.each do |event|
            %td.center
              - atnd = user.atnd(event)
              - if atnd
                = { 'at' => '+', 'ab' => '-', 'ma' => '?' }[atnd.state[0..1]]
    %p
      = link_to _('listing users'), group_path + '/users'
      - if @group.manager?(@user) and !@group.public?
        - text = "#{_('listing requests')}(#{@group.requesting_users.count})"
        = link_to text, group_path + '/member_requests'
      
  .bottom_menu
    - if is_member and !@group.owner?(@user)
      %p.update= link_to _('leave this group'), "#{@group.id}/leave"
    - if @user and @group.owner?(@user)
      %h2=_ 'Admin menu'
      = link_to 'Edit', edit_group_path(@group)

      %span#JSOK{ :style => "display:none;" }
        = link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete
      %span#JSNG{ :style => "" }
        = link_to '__Destroy__', group_path + '/__destroy__'
      %script
        document.getElementById("JSOK").style.display = "inline";
        document.getElementById("JSNG").style.display = "none";
