%h1= @group.name
%p#notice= notice

%p
  = @group.description
%p
  %b owner(部長):
  = @group.owner.name

- is_member = @group.member?(@user)
- unless is_member
  %p.update= link_to 'join this group(この部活に参加する)', "#{@group.id}/join"

.events
  %h2 Events(活動スケジュール)
  = render 'events'

.events_new
  - if is_member
    %p= link_to 'new events(新しいスケジュールを追加)', "/events/new"

.users
  %h2 Users(部員)
  %table
    %tr
      %th
      %th
      %th
      - @events.each do |event|
        %td= link_to month_day(event), event
    - @group.users.each do |user|
      %tr
        %td +
        %td= user.name
        %td
          =# %w(新人 新入部員 レギュラー 準レギュラー レアキャラ 幽霊部員 休部).sample
          new(新入部員)
        - @events.each do |event|
          %td.center
            - atnd = user.atnd(event)
            - if atnd
              = { 'at' => '+', 'ab' => '-', 'ma' => '?' }[atnd.state[0..1]]
    
.admin
  = link_to 'Edit', edit_group_path(@group)
  /
  = link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete
