%h1
  = @group.name
%p#notice
  = notice
%p
  = @group.description
%p
  %b Owner:
  = @group.owner.name
%p
  = link_to 'New event', "/events/new"

%h2 events
%p todo:


= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
