%h1= @group.name
%p#notice= notice

%p
  = @group.description
%p
  %b 部長:
  = @group.owner.name

- is_member = @group.member?(@user)
- unless is_member
  %p= link_to 'この部活に参加する', "#{@group.id}/join"

.events
  %h2 活動スケジュール
  - @events = @group.events.reverse
  = render 'events'

.events_new
  - if is_member
    %p= link_to '新しいスケジュールを追加', "/events/new"

.users
  %h2 部員
  %table
    - @group.users.each do |user|
      %tr
        %td +
        %td= user.name
        %td= %w(新人 新入部員 レギュラー 準レギュラー レアキャラ 幽霊部員 休部).sample
    
.admin
  = link_to 'Edit', edit_group_path(@group)
  /
  = link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete
