%h1
  = @group.name
%p#notice
  = notice
%p
  = @group.description
%p
  %b Owner user:
  = @group.owner_user_id
%p
  = link_to 'New event', "/events/new"

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
