%h1= @group.name
%p#notice= notice

%p.summary
  = @group.summary
  - if @group.description? and !@show_description
    &#187;
    = link_to 'もっと詳しく', group_path + '.description'
.description
  - if @show_description
    %p
      &#171;
      = link_to '説明を閉じる', group_path
    != simple_html_compiler(@group.description)

.status
  %p.gray
    == #{_ :permission}:
    %b= [_(:Public), _('Must be allowed'), _(:Secret), 2][@group.permission]
    \/
    == #{_ :owner}:
    %b= @group.owner.name

- is_member = @group.member?(@user)
- if is_member
- elsif @group.public?
  %p.update= link_to _('join this group'), "#{@group.id}/join"

.events
  %h2=_ :Events
  = render 'events'

.events_new
  - if is_member
    %p= link_to _('new events'), "/events/new"

.posts
  %h2=_ :Posts
  %table
    - @group.posts.order('created_at desc').limit(3).each do |post|
      %tr
        %td *
        %td= link_to month_day(post.created_at), "/groups/#{@group.id}.posts##{post.idx}"
        %td
          - if post.subject
            %b= to_short post.subject, 20
            \:
          = to_short post.text, 40
          %span.small
            == posted by #{post.user.name}
  %p= link_to _('read more'), "/groups/#{@group.id}.posts"

.users
  %h2=_ :Users
  %table
    %tr
      %th
      %th
      %th
      - @events.each do |event|
        %td= link_to month_day(event.started_at), event
    - @group.users.each do |user|
      %tr
        %td *
        %td= user.name
        %td
          =_('new user')
        - @events.each do |event|
          %td.center
            - atnd = user.atnd(event)
            - if atnd
              = { 'at' => '+', 'ab' => '-', 'ma' => '?' }[atnd.state[0..1]]
    
.bottom_menu
  - if is_member and !@group.owner?(@user)
    %p.update= link_to _('leave this group'), "#{@group.id}/leave"
  - if @user and @group.owner?(@user)
    = link_to 'Edit', edit_group_path(@group)
    /
    = link_to 'Admin'
    /
    = link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete
