%h1= @group.name
%p#notice= notice

.description
  != simple_html_compiler(@group.description)

.status
  %p
    == #{_ :permission}:
    %b= [_(:Public), _('Must be allowed'), _(:Secret), 2][@group.permission]
    \/
    == #{_ :owner}:
    %b= @group.owner.name

- is_member = @group.member?(@user)
- if !is_member and @group.public?
  %p.update= link_to _('join this group'), "#{@group.id}/join"

.events
  %h2=_ :Events
  = render 'events'

.events_new
  - if is_member
    %p= link_to _('new events'), "/events/new"

.bbs
  %h2=_ :BBS
  %p @todo

.users
  %h2=_ :Users
  %table
    %tr
      %th
      %th
      %th
      - @events.each do |event|
        %td= link_to month_day(event.started_at), event
    - @group.users.each do |user|
      %tr
        %td *
        %td= user.name
        %td
          =_('new user')
        - @events.each do |event|
          %td.center
            - atnd = user.atnd(event)
            - if atnd
              = { 'at' => '+', 'ab' => '-', 'ma' => '?' }[atnd.state[0..1]]
    
.bottom_menu
  - if @user and @group.owner?(@user)
    = link_to 'Edit', edit_group_path(@group)
    /
    = link_to 'Admin'
    /
    = link_to 'Destroy', @group, :confirm => 'Are you sure?', :method => :delete
