%h1
  = @group.name
%p#notice
  = notice

%p
  = @group.description
%p
  %b Owner:
  = @group.owner.name

- is_member = @group.member?(@user)
- unless is_member
  %p= link_to 'この部活に参加する', "#{@group.id}/join"

.events
  %h2 活動スケジュール
  - @events = @group.events
  = render 'events'

.events_new
  - if is_member
    %p= link_to '新しいスケジュールを追加', "/events/new"

.users
  %h2 部員
  %ul
    - @group.users.each do |user|
      %li
        = user.name
        == ...
        owner or 常連 or 初参加 or 幽霊部員
    
