= form_for @event do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.field
      %td= f.label :title
      %td= f.text_field :title
    %tr.field
      %td= f.label :limit
      %td= f.number_field :limit
    %tr.field
      %td= f.label :place
      %td= f.text_field :place
    %tr.field
      %td= f.label :address
      %td= f.text_field :address
    %tr.field
      %td= f.label :started_at
      %td= f.datetime_select :started_at
    %tr.field
      %td= f.label :ended_at
      %td= f.datetime_select :ended_at
    %tr.field
      %td.top= f.label :description
      %td= f.text_area :description, :size => '80x25'
  .actions
    = f.submit 'Save'
