%h2= link_to @event.group.name, @event.group
%h1= @event.title

%p#notice= notice

.update
  atnd:
  - if @user.nil?
  - elsif atnd = @user.atnd(@event)
    %span.atnd= atnd.state.capitalize
    = link_to 'cancel(出欠入力を取り消す)', event_path(@event, 'delete')
  - elsif @event.group.member?(@user)
    Unknown
    %span.update
      = link_to 'attend(出席)', event_path(@event, 'attend')
      = link_to 'absent(欠席)', event_path(@event, 'absent')
      = link_to 'maybe(微妙)', event_path(@event, 'maybe')
  - else
    You are not a member of
    = link_to @event.group.name, @event.group

%hr

%table
  %tr
    %td datatime:
    %td
      = @event.started_at
      == ...
      = @event.ended_at
  %tr
    %td Limit:
    %td= @event.limit
  %tr
    %td Place:
    %td= @event.place
  %tr
    %td Address:
    %td= @event.address

%hr

%p @todo: イベントの説明を表示

%hr

.users
  %h2 Users(出欠を入力した部員)
  %h3 Attendees
  %table
    - @event.users.sort_by {|e| e.atnd(@event).state_level }.each do |user|
      %tr
        %td +
        %td= user.name
        - if atnd = user.atnd(@event)
          %td.atnd_other= atnd.state.capitalize
        - else
          %td Unknown
  %h3 Maybees
  %h3 Absentees
%hr

.menu
  = link_to @event.group.name, @event.group
  |
  = link_to 'Edit', edit_event_path(@event)
