%h2= link_to @event.group.name, @event.group
%h1= @event.title

%p#notice= notice

%hr

%table
  %tr
    %td datatime:
    %td
      = @event.started_at
      == ...
      = @event.ended_at
  %tr
    %td Limit:
    %td= @event.limit
  %tr
    %td Place:
    %td= @event.place
  %tr
    %td Address:
    %td= @event.address

%hr

%p @todo: イベントの説明を表示

%hr

.users
  %h2 部員
  %table
    - @event.group.users.each do |user|
      %tr
        %td +
        %td= user.name
        %td= (atnd = user.atnd(@event)) ? atnd.state : "未入力"

%hr

.menu
  = link_to @event.group.name, @event.group
  |
  = link_to 'Edit', edit_event_path(@event)
