%h1
  - group = @event.group
  - unless group.hidden?
    = link_to group.name, group
  = @event.title

%p#notice= notice
- if @event.canceled?
  %p#notice_cancel=_ 'This event is canceled!'

- if @event.image_url?
  .logo
    =image_tag @event.image_src

%table
  %tr
    %td== #{_ 'event owner'} :
    %td= link_to @event.owner.name, @event.owner

  %tr
    %td== #{_ :date} :
    %td
      - s = @event.started_at
      - e = @event.ended_at
      = date_time(s)
      - if e > s
        == ...
        - if s.year == e.year and s.mon == e.mon and s.day == e.day
          = hour_min(e)
        - else
          = date_time(e)
  - if @event.limit?
    %tr
      %td== #{_ :Limit}:
      %td= @event.limit
  - if @event.place?
    %tr
      %td== #{_ :Place}:
      %td= @event.place
  - if @event.address?
    %tr
      %td== #{_ :Address}:
      %td= @event.address

- if @event.description?
  %hr
  .description
    != html_compiler(@event.description)

%hr
.state
  - if @event.ended?
    %p=_ 'This event has ended.'
  %b=_ 'Your state'
  \:
  - if @user.nil?
    =_ :unknown
    - if group.public?
      %span.update.atnd
        %span.attend= link_to _(:attend), event_path(@event) + '/attend'
    - else
      = link_to 'Please login...', '/users/new'
  - elsif atnd = @user.atnd(@event)
    %span.atnd== #{_ atnd.state.capitalize}
    %span.update= link_to _(:cancel), event_path(@event) + '/delete'
  - elsif group.member?(@user)
    =_ :unknown
    %span.update.atnd
      %span.attend= link_to _(:attend), event_path(@event) + '/attend'
      %span.absent= link_to _(:absent), event_path(@event) + '/absent'
      %span.maybe=  link_to _(:maybe), event_path(@event) + '/maybe'
  - else
    =_ :unknown
    - if group.public?
      %span.update.atnd
        %span.attend= link_to _(:attend), event_path(@event) + '/attend'
    - else
      You are not a member of
      = link_to group.name, group

%hr

.users.attendees
  %b.group_name
    =_ :Attendees
    - if @event.limit?
      == (#{@event.attendances.count}/#{@event.limit})
    - else
      == (#{@event.attendances.count})
  \:
  - @event.attendees.each do |user|
    = user_name(user)
  - if @event.waiting_attendees.count > 0
    \/
    %b.red=_ :WaitingAttendees
    \:
    %span.gray.waiting_attendees
      - @event.waiting_attendees.each do |user|
        = user_name(user)
.users.absentees
  - absentees = @event.absentees
  - maybees = @event.maybees
  %b.group_name
    =_ :Absentees
    == (#{absentees.size + maybees.size})
  \:
  - absentees.each do |user|
    = user_name(user)
  - if @event.maybees.count > 0
    \/
    %b=_ :Maybe
    \:
    %span.maybees
      - maybees.each do |user|
        = user_name(user)

%h2=_ 'Comments and Logs'
- if @user and group.member?(@user)
  = render 'comments/form', comment: @comment

%table.comments
  - @event.comments.order('created_at desc').each do |comment|
    %tr.comment
      %td
        = user_icon comment.user, :middle
      %td.bold
        = link_to comment.user.name, comment.user
      %td
        != comment_html_compiler(comment.text)
        %span.small= link_to date_time(comment.created_at), comment


- if @user and @event.manager?(@user)
  .admin_menu
    %h2=_ 'admin menu'
    = link_to _(:Edit), edit_event_path(@event)
    - if @event.canceled?
      = link_to _('Be active'), event_path(@event) + '/be_active'
    - else
      = link_to _('Cancel Event'), event_path(@event) + '/cancel'
    = link_to _(:Destroy), @event, :confirm => 'Destroy event: Are you sure?', :method => :delete

.bottom_menu
  - unless group.hidden?
    = link_to group.name, group
