%h1
  = link_to @event.group.name, @event.group
  = @event.title

%p#notice= notice

%table
  %tr
    %td==#{_ :date} :
    %td
      = date_time(@event.started_at)
      == ...
      = date_time(@event.ended_at)
  - if @event.limit?
    %tr
      %td Limit:
      %td= @event.limit
  - if @event.place?
    %tr
      %td Place:
      %td= @event.place
  - if @event.address?
    %tr
      %td Address:
      %td= @event.address

- if @event.description?
  .description
    != simple_html_compiler(@event.description)

%hr
.state
  - if @event.ended?
    %p=_ 'This event has ended.'
  %b=_ 'Your state'
  \:
  - if @user.nil?
    = link_to 'Please login...', '/users/new'
  - elsif atnd = @user.atnd(@event)
    %span.atnd== #{_ atnd.state.capitalize}
    %span.update= link_to _(:cancel), event_path(@event, 'delete')
  - elsif @event.group.member?(@user)
    %span.update.atnd
      %span.attend= link_to _(:attend), event_path(@event, 'attend')
      %span.absent= link_to _(:absent), event_path(@event, 'absent')
      %span.maybe=  link_to _(:maybe), event_path(@event, 'maybe')
  - else
    You are not a member of
    = link_to @event.group.name, @event.group

%hr

.users
  %b=_ :Attendees
  \:
  - @event.attendees.each do |user|
    == #{user.name}(1)
  - if @event.waiting_attendees.count > 0
    \/
    %b=_ :WaitingAttendees
    \:
    %span.gray
      - @event.waiting_attendees.each do |user|
        == #{user.name}(1)
.users
  %b=_ :Maybees
  \:
  - @event.maybees.each do |user|
    == #{user.name}(1)
.users
  %b=_ :Absentees
  \:
  - @event.absentees.each do |user|
    == #{user.name}(1)

%h2=_ 'Comments and Logs'
- if @user and @event.group.member?(@user)
  = render 'comments/form'

- @event.comments.order('created_at desc').each do |comment|
  .comment
    %b= comment.user.name
    = comment.text
    %span.small= link_to date_time(comment.created_at), comment

.bottom_menu
  = link_to @event.group.name, @event.group
  |
  = link_to _('Edit'), edit_event_path(@event)
