%h2= link_to @event.group.name, @event.group
%h1= @event.title

%p#notice= notice

%table
  %tr
    %td datatime:
    %td
      = @event.started_at
      == ...
      = @event.ended_at
  %tr
    %td Limit:
    %td= @event.limit
  %tr
    %td Place:
    %td= @event.place
  %tr
    %td Address:
    %td= @event.address

%hr

%p @todo: イベントの説明を表示

%hr

.state
  - if @user.nil?
    %h2= link_to 'Please login...', '/users/new'
  - elsif atnd = @user.atnd(@event)
    %h2.update= link_to 'cancel(出欠入力を取り消す)', event_path(@event, 'delete')
    your state :
    %span.atnd= atnd.state.capitalize
  - elsif @event.group.member?(@user)
    %h2 Set your state
    .update.atnd
      = link_to 'attend(出席)', event_path(@event, 'attend')
      = link_to 'absent(欠席)', event_path(@event, 'absent')
      = link_to 'maybe(微妙)', event_path(@event, 'maybe')
  - else
    %h2
      You are not a member of
      = link_to @event.group.name, @event.group

.users
  %h2 Attendees(参加者)
  %table
    - @event.attendees.each do |user|
      %tr
        %td +
        %td= user.name
        %td= user.status
  %h2 Maybees(微妙な人たち)
  %table
    - @event.maybees.each do |user|
      %tr
        %td +
        %td= user.name
        %td= user.status
  %h2 Absentees(欠席者)
  %table
    - @event.absentees.each do |user|
      %tr
        %td +
        %td= user.name
        %td= user.status

!== <!--
%h2 Comments
%ul
  - @comments = %w(てすと てすてす)
  - @comments.each do |comment|
    %li= comment

- if @user
  = form_for @current_user do |f|
    -if @current_user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@current_user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @current_user.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :name
      = f.text_field :name
    .actions
      = f.submit 'post'
!== -->

%hr

.menu
  = link_to @event.group.name, @event.group
  |
  = link_to 'Edit', edit_event_path(@event)
