%h2= link_to @event.group.name, @event.group
%h1= @event.title

%p#notice= notice

%hr

%table
  %tr
    %td datatime:
    %td
      = @event.started_at
      == ...
      = @event.ended_at
  %tr
    %td Limit:
    %td= @event.limit

  %tr
    %td Place: 候補 東神奈.. タネマ.. 横浜駅
    %td= @event.place
  %tr
    %td Address:
    %td= @event.address

%hr


%hr

.menu
  = link_to @event.group.name, @event.group
  |
  = link_to 'Edit', edit_event_path(@event)
