%h1
  = link_to @group.name, @group
  =_ 'Listing users'

%p#notice= notice

.users
  - is_manager = @user && @group.manager?(@user)
  %table
    %tr
      %th=_ :name
      %th=_ :state
      =# %th 入部日
      %th 出席
      %th 欠席
      - if is_manager
        %th=_ :mail
      %th=_ :role
      - if is_manager
        %th=_ 'set role'
        %th=_ 'admin menu'
    - @group.users.each do |user|
      %tr
        %td{:class => @group.manager?(user) ? 'bold' : '' }
          = link_to user.name, group_users_path + "/#{user.id}"
        %td=_ user.status(@group)
        =# %td= year_month_day user.user_group(@group).created_at
        %td.right= user.attendance_count(@group)
        %td.right= user.absence_count(@group)
        - if is_manager
          %td.center
            = user.mail? ? 'ok' : ''
        %th= user.user_group(@group).role
        - if is_manager
          %td
            = form_for user.user_group(@group) do |f|
              %span.field
                = f.text_field :role, :size => '16'
                %span.actions
                = f.submit _'Set role'
          %td
            - unless @group.owner?(user)
              = link_to _(:remove), user.user_group(@group), :method => :delete
.bottom_menu
  = link_to @group.name, @group
  - if @group.manager?(@user) and !@group.public?
    - text = "#{_('listing requests')}(#{@group.requesting_users.count})"
    = link_to text, group_member_requests_path
