= form_for @post do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Post'
    posted by :
    = @user.name
  .field
    = f.text_area :text, :size => '58x4'
