.post_menu
  = link_to "#{group.name}に戻る", group
  = link_to '全部', "/groups/#{group.id}/posts/all"
  = link_to '1-', "/groups/#{group.id}/posts/1-50"
  = link_to '最新10', "/groups/#{group.id}/posts/l10"
