
= render 'menu', group: @group
'

%hr

%h1
  =@group.name
  =_ :Posts

- @posts.each do |post|
  .post
    .head{:id => post.idx}
      == #{post.idx} : #{post.user.name} :
      = link_to date_time(post.created_at), "/groups/#{@group.id}/posts/#{post.idx}"
    .body
      %h3= post.subject
      != simple_html_compiler(post.text)

%hr

= render 'menu', group: @group

- if @group.member?(@user)
  = render 'form', post: @post
