</body>
</html>
!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    <title>Bu</title>
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta name="viewport" content="width=480" />

  %body
    .topmenu
      = link_to 'home', '/'
      - if @user
        = link_to 'my', '/my'
        = link_to "logout(#{@user.name})", '/users/logout'
      - else
        = link_to 'login', '/users/new'
    = yield
    .footer
      %p
        bu:
        = link_to '@dan5ya', 'http://twitter.com/dan5ya'
        \/ debug:
        = link_to 'update events', 'cron/update'
