!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Bu
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=480" />

  %body
    .topmenu
      %table{:width => '100%'}
        %tr
          %td
            = link_to 'home', '/'
            - if @user
              = link_to 'my', '/my'
            = link_to 'about', '/about'
            - if @user
              = link_to "logout(#{@user.name})", '/users/logout'
            - else
              = link_to 'login', '/users/new'
          %td.right
            - if session[:language].nil? or session[:language] == 'japanese'
              = link_to 'English', 'settings/language/english'
            - else
              = link_to 'Japanese', 'settings/language/japanese'
    %div{:class => controller_name}
      = yield
    .footer
      %p
        bu:
        = link_to '@dan5ya', 'http://twitter.com/dan5ya'
